.loginContainer {
  backdrop-filter: blur(4px);
  margin-left: 25%;
  mat-form-field {
    width: 150px;
  }
  @media screen and (max-width: 600px) {
    position: absolute;
    margin: 12px;
  }
}

.ladyImage {
  height: 100%;
  @media screen and (max-width: 600px) {
    height: auto;
  }
}

.twitterSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loginActions {
  margin: auto;
}

.loginActions > button {
  margin: 5px;
}

mat-form-field {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 500%;
  color: whitesmoke;
}

.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
    /*{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }*/
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.placeholder {
  color: darkcyan;
}
