<div class="loginPage">
  <img src='assets/images/lady1.jpeg' class='ladyImage'/>
  <div class="loginContainer">
    <div class="title">SeaGull</div>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <mat-form-field>
        <input autocomplete="on" formControlName="email" matInput>
        <mat-placeholder class="placeholder">Email</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input autocomplete="current-password" formControlName="password" matInput type='password'>
        <mat-placeholder class="placeholder">Password</mat-placeholder>
      </mat-form-field>
      <div class="loginActions">
        <button type="submit" color="primary" mat-raised-button value="Login">Login</button>
        <button type="button" (click)="onSignUp()" color="accent" mat-raised-button value="Login">Register</button>
      </div>
      <div class='twitterSignIn'>
        <img (click)="onLoginWithTwitter()" alt="twitterLogin" style="width: 80px;" src="./assets/images/twitterLogo.png" />
      </div>
    </form>
  </div>
</div>
