.loginContainer {
  backdrop-filter: blur(4px);
  margin-top: 95px;
  mat-form-field {
    width: 150px;
  }
}

.twitterSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loginActions {
  margin: auto;
}

.loginActions > button {
  margin: 5px;
}

mat-form-field {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 500%;
  color: whitesmoke;
}

.loginPage {
  height: 100vh;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.placeholder {
  color: darkcyan;
}
