<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport (click)="toggleNav()"
      [attr.role]="'navigation'"
      [mode]="'over'"
      [opened]="isOpen">
    <mat-toolbar class="seagullMatToolBar">
      <img src="../../../../assets/images/logo.png" alt="Seagull" />
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let component of componentList"
         mat-list-item
         (click)="drawer.close()"
         [routerLink]="[component.route]"
         routerLinkActive="list-item-active">
        <mat-icon matListIcon> {{ component.tagId }} </mat-icon>
        {{component.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Seagull</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
