li {
  list-style: none;
  padding-top: 35px;
}

.appDrawer {
  height: 80%;
  background-color: lightslategray;
  opacity: 0.8;
  margin: 5px;
  border: 50px;
}

.menus {
  background: linear-gradient(#201622, #0e0e11) !important;
  height: 68vh;
  color: white;
  text-align: center;
  padding-inline-start: 0;
  margin-top: 10px;
  width: 55%;
  margin-left: 20px;
  opacity: 0.8;
  border-radius: 50px 50px 50px 50px;
}

mat-icon {
  font-size: 24px;
}

.bounceEffect {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
}
