<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <div class="chart-wrapper">
    <canvas #lineChartCanvas
            [chartType]="lineChartType" [colors]="lineChartColors" [data]="inputDatas" [datasets]="lineChartData"
            [labels]="lineChartLabels" [legend]="lineChartLegend" [options]="lineChartOptions" [plugins]="lineChartPlugins"
            baseChart height="250" width="325"></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
